{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{{request.META.HTTP_REFERER}}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Rain check</h3>
                </div>
            </div>

            <div class="layout__body">


                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        <label>Whats the weather like?</label>
                        <input type="text" name="zip_code" placeholder="Enter a zipcode"/>
                        <input type="text" name="countryCode" placeholder="Enter a Country code (Example..US, EN, CA)"/>
                    </div>
                    <div class="row">
                        {% if zip_code is not None %}
                        <div class="col-md-6 col-md-offset-3">
                            <h1 align="center" style="color:aquamarine;font-size:20px">{{zip_code}}</h1>
                            <div id='desc'>
                                <h3 align="center">Description: {{datas.weather_description | capfirst}}</h3>
                            </div>
                            <h3 align="center">Temperature: {{datas.weather_temperature}} °F</h3>
                            <h3 align="center">Feels Like: {{datas.weather_feels}} °F</h3>
                            <h3 align="center">Humidity: {{datas.weather_humidity}} %</h3>
                            <h3 align="center">Wind Speed: {{datas.weather_wind}} MPH</h3>
                        </div>
                        {% endif %}
                    </div>
                    <br><br>
                    <div class="form__action">
                        <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                        <button class="btn btn--main" type="submit">Submit</button>
                    </div>

                </form>


            </div>


        </div>
    </div>
</main>
{% endblock content %}